@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  color-scheme: only dark !important;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

main header,
nav header {
  font-weight: 700;
  font-size: 1.5em;
}

nav {
  border-right: 3px solid;
  width: 1000px;
}

nav header {
  padding: 15px;
}

nav a {
  display: block;
  border-top: 1px solid;
  padding: 15px;
  text-decoration: none;
}

main {
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 500px;
}

code pre {
  background-color: #999;
  padding: 20px;
  color: black;
}

@media (max-width: 576px) {
  body {
    flex-direction: column;
  }

  nav {
    border-bottom: 3px solid;
    overflow-y: scroll;
    height: 300px;
  }

  main {
    overflow-y: unset;
  }
}
